<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Air company</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.Flight" Color="MudBlazor.Color.Primary"/>
                <span class="bi" aria-hidden="true"></span> Aircrafts
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="flights">
                <MudIcon Icon="@Icons.Material.Filled.AirplaneTicket" Color="MudBlazor.Color.Primary" />
                <span class="bi" aria-hidden="true"></span> Flights
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="passengers">
                <MudIcon Icon="@Icons.Material.Filled.Person" Color="MudBlazor.Color.Primary" />
                <span class="bi" aria-hidden="true"></span> Passengers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registered-passengers">
                <MudIcon Icon="@Icons.Material.Filled.PersonPinCircle" Color="MudBlazor.Color.Primary" />
                <span class="bi" aria-hidden="true"></span> Reged passengers
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="queries">
                <MudIcon Icon="@Icons.Material.Filled.ManageSearch" Color="MudBlazor.Color.Primary" />
                <span class="bi" aria-hidden="true"></span> Queries
            </NavLink>
        </div>
    </nav>
</div>